extends layout

block content
  h1= title
  a(href='/logout') Déconnexion
  div#game
    div#gameWindow
      div#main
        canvas#canvas
      div#sidebar
        p#msg
  script(src="/scripts/jeu.js")
