head
  title= title
  link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap', rel='stylesheet')
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="/socket/socket.io.js")
  style
    include style/master.css
